<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kasa.zulakasasimulator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.things.permission.MANAGE_UPDATE_POLICY" />
    <uses-permission android:name="com.google.android.things.permission.PERFORM_UPDATE_NOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.aboutUS.ActivityAboutUs"></activity>
        <activity android:name=".view.zulaNoticeActivity.ZulaNoticeListActivity" />
        <activity android:name=".view.googlePayView.GuruParasiPayment" />
        <activity android:name=".view.zulaGameUserList.UserListActivity" />
        <activity android:name=".view.oyunKasaAcilimi" />
        <activity android:name=".view.zulaGameUserList.kasaOyunuZula" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.kasaCekilis" />
        <activity android:name=".view.kasaOpenView.kasaAcilimiMagaza" />
        <activity
            android:name=".view.kasaOpenView.kasaAcilimi"
            android:noHistory="true" />
        <activity
            android:name=".view.loginView.loginRegisterKontrol"
            android:noHistory="true" />
        <activity
            android:name=".view.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notification.MyBroadcastReceiver" />
        <!--
 <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3680256089942544~3347511713" />
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6370444038396282~3250983402" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6370444038396282~3250983402" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>